        /*Font For Unit Titles (<h2>)*/
        
        @import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
        /*Font For Titles of Sections (<h3>)*/
        
        @import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');
        /*Font For Titles of Thms and Rules (<h5>)*/
        
        @import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
        /*font-family: 'Source Code Pro', monospace;*/
        
        @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
        body {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            font-size: 20px;
        }
        
        h1 {
            text-align: center;
        }
        
        h2 {
            font-size: 25pt;
            font-family: 'Fredoka One', cursive;
            /*color: orange;*/
        }
        
        h3 {
            font-size: 25pt;
            font-family: 'Dancing Script', cursive;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        
        h5 {
            font-size: 18pt;
            font-family: 'Indie Flower', cursive;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        #tableOfContents {
            border: 2px solid black;
            width: 50%;
            margin: 25px auto;
            padding: 10px;
        }
        
        #tableOfContents h2 {
            text-align: center;
        }
        
        .indent {
            margin-left: 3em;
        }
        
        pre {
            overflow-y: hidden;
            overflow-x: auto;
            padding-bottom: 15px;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
        
        code {
            background-color: lightgray;
            color: rgb(75, 73, 73);
            font-size: 12pt;
            font-family: 'Source Code Pro', monospace;
            padding: 3px;
            border-radius: 5px;
        }
        
        code[id]:hover,
        button:hover {
            cursor: pointer;
        }
        
        code .comment {
            color: green;
        }
        
        #measuresOfCentralTendency,
        #combinatorics,
        #decimals,
        #trig,
        #degrees,
        #radians,
        #nthRootDiv,
        #nthBaseLogDiv,
        #vectorsDiv {
            display: none;
            -webkit-transition: display 1s ease-in-out;
            -moz-transition: display 1s ease-in-out;
            -ms-transition: display 1s ease-in-out;
            -o-transition: display 1s ease-in-out;
            transition: display 1s ease-in-out;
        }
        
        .toggleButton {
            border: 1px solid grey;
            display: inline-table;
            margin: 5px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            float: left;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: center;
            border-radius: 25px;
        }
        
        .toggleButton:hover {
            cursor: pointer;
        }
        
        #playLab {
            text-align: center;
            margin: 25px auto;
        }
        
        #playLab textarea {
            width: 100%;
            resize: none;
            font-family: 'Source Code Pro', monospace;
            font-size: 11pt;
            background-color: lightgray;
            color: rgb(75, 73, 73);
        }
        
        #playLab textarea,
        #playLab button {
            border-radius: 25px;
            padding: 15px;
        }
        
        #playLab button {
            border: none;
            background-color: lightgray;
            color: rgb(75, 73, 73);
        }
        
        #scrollTopButton {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 20px;
            /* Place the button at the bottom of the page */
            right: 30px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            border: none;
            /* Remove borders */
            outline: none;
            /* Remove outline */
            background-color: darkgray;
            /* Set a background color */
            color: white;
            /* Text color */
            padding: 15px;
            /* Some padding */
            border-radius: 10px;
            /* Rounded corners */
            font-size: 18px;
            /* Increase font size */
        }
        
        #scrollTopButton:hover {
            cursor: pointer;
        }