/*font-family: 'Source Code Pro', monospace;*/
        
        @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
        body {
            width: 70%;
            margin: 0 auto;
            padding: 20px;
            font-size: 20px;
        }
        
        h1 {
            text-align: center;
        }
        
        #tableOfContents {
            border: 2px solid black;
            width: 50%;
            margin: 25px auto;
        }
        
        #tableOfContents h2 {
            text-align: center;
        }
        
        .indent {
            margin-left: 3em;
        }
        
        pre {
            overflow-y: hidden;
            overflow-x: auto;
            padding-bottom: 15px;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
        
        code {
            background-color: lightgray;
            color: rgb(75, 73, 73);
            font-size: 12pt;
            font-family: 'Source Code Pro', monospace;
            padding: 3px;
            border-radius: 5px;
        }
        
        code[id]:hover,
        button:hover {
            cursor: pointer;
        }
        
        code .comment {
            color: green;
        }
        
        .inlineIMG {
            height: 20px;
            width: auto;
        }
        
        #playLab {
            text-align: center;
            margin: 25px auto;
        }
        
        #playLab textarea {
            width: 100%;
            resize: none;
            font-family: 'Source Code Pro', monospace;
            font-size: 11pt;
            background-color: lightgray;
            color: rgb(75, 73, 73);
        }
        
        #playLab textarea,
        #playLab button {
            border-radius: 25px;
            padding: 15px;
        }
        
        #playLab button {
            border: none;
            background-color: lightgray;
            color: rgb(75, 73, 73);
        }
        
        #scrollTopButton {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 20px;
            /* Place the button at the bottom of the page */
            right: 30px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            border: none;
            /* Remove borders */
            outline: none;
            /* Remove outline */
            background-color: darkgray;
            /* Set a background color */
            color: white;
            /* Text color */
            padding: 15px;
            /* Some padding */
            border-radius: 10px;
            /* Rounded corners */
            font-size: 18px;
            /* Increase font size */
        }
        
        #scrollTopButton:hover {
            cursor: pointer;
        }
